<!DOCTYPE html>
<html lang="<%= i18n.getLocale() %>">
  <head>
    <title><%= title %></title>
    <!-- HEADER SCRIPTS -->
    <%- include('./layout/header') %> 
    <!-- END HEADER SCRIPTS -->
  </head>
  <body>
    <!-- LANG MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= i18n.__('Select language') %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <select id="langSelect" class="form-select selectpicker">
              <% for(var i=0; i<appConfig.languages.active.length; i++) { %>
                <option data-thumbnail="/images/flag-it.png" value="/<%= appConfig.languages.active[i] %>/<%= urlWithoutLang %>" <% if(appConfig.languages.active[i] == i18n.getLocale()) { %>selected<% } %>> <%= i18n.__(appConfig.languages.active[i]) %> </option>
              <% } %> 
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= i18n.__('Cancel') %></button>
            <button id="langConfirm" type="button" class="btn btn-secondary"><%= i18n.__('Confirm') %></button>
          </div>
        </div>
      </div>
    </div>
    <!-- END LANG MODAl -->

    <!-- NAV TPL -->
    <%- include('./layout/nav') %> 
    <!-- END NAV -->

    <!-- CONTENT -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Cucinelli POC</h1>
        <p class="lead font-weight-normal">
          POC di lading page post registrazione utente ecommerce <br>
          con integrazione supporto multilingua
        </p>
        <p class="font-weight-normal">
          Sviluppato con <i class="fab fa-node h3"></i><br>
          <strong>Autore:</strong> Diego Goretti<br>
          <strong>Versione:</strong> 1.0 <br>
        </p>
        <a class="btn btn-outline-secondary" href="it/registration-landing"><i class="fas fa-plane-arrival"></i> Vai alla landing page</a>
      </div>
    </div>
    <!-- CONTENT --> 

    <div class="container-fluid page-separator"></div>

    <!-- FOOTER TPL -->
    <%- include('./layout/footer') %>
    <!-- END FOOTER -->
  </body>
</html>
