<!DOCTYPE html>
<html lang="<%= i18n.getLocale() %>">
  <head>
    <title><%= title %></title>
    <!-- HEADER SCRIPTS -->
    <%- include('./layout/header') %> 
    <!-- END HEADER SCRIPTS -->
  </head>
  <body>
    <!-- LANG MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= i18n.__('Select language') %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <select id="langSelect" class="form-select selectpicker">
              <% for(var i=0; i<appConfig.languages.active.length; i++) { %>
                <option value="/<%= appConfig.languages.active[i] %>/<%= urlWithoutLang %>" <% if(appConfig.languages.active[i] == i18n.getLocale()) { %>selected<% } %>> <%= i18n.__(appConfig.languages.active[i]) %> </option>
              <% } %> 
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= i18n.__('Cancel') %></button>
            <button id="langConfirm" type="button" class="btn btn-secondary"><%= i18n.__('Confirm') %></button>
          </div>
        </div>
      </div>
    </div>
    <!-- END LANG MODAl -->

    <!-- NAV TPL -->
    <%- include('./layout/nav') %> 
    <!-- END NAV -->

    <!-- IMAGE 1 -->
    <div class="row-welcome row-slide1 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="welcome-card col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal"><%= i18n.__('Welcome') %>, <%= curUser.firstName %>!</h1>
        <p class="lead font-weight-normal"><%= i18n.__('Thank you for your registation.') %></p>
        <p class="lead font-weight-normal"><%= i18n.__('Now you can discover your exclusive services') %></p>
        <a class="btn btn-outline-light" href="#exclusive"><%= i18n.__('Discover') %></a>
      </div>
    </div>
    <!-- END IMAGE 1 -->

    <!-- SERVICES (Dynamic content) -->
    <% for(var i=0; i<sections.length; i++) { %>
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="bg-white shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 21px 21px; padding: 30px; margin-bottom: 20px;">
            <div class="my-3 p-3">
              <h2 class="display-5">
                <i class="fas <%= sections[i].col1.icon1 %>"></i>
                <%= sections[i].col1.lang[ i18n.getLocale() ].title %>
              </h2>
              <p class="lead">
                <%= sections[i].col1.lang[ i18n.getLocale() ].body %>
              </p>
            </div>
          </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="bg-white shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 21px 21px; padding: 30px; margin-bottom: 20px;">
            <div class="my-3 p-3">
              <h2 class="display-5">
                <i class="fas <%= sections[i].col2.icon1 %>"></i>
                <%= sections[i].col2.lang[ i18n.getLocale() ].title %>
              </h2>
              <p class="lead">
                <%= sections[i].col2.lang[ i18n.getLocale() ].body %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <!-- END SERVICES -->
    
    <!-- IMAGE 2 -->
    <div id="exclusive" class="row-welcome row-slide2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="min-height: 500px;">
      <div class="welcome-card col-md-5 p-lg-5 mx-auto my-5" style="margin-top: 150px !important;">
        <h1 class="display-6 font-weight-normal"><%= i18n.__('Exclusive Services') %></h1>
      </div>
    </div>
    <!-- END IMAGE 2 -->

    <!-- EXCLUSIVE (Static content) -->
    <div class="exclusive-row d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5"><%= i18n.__('Sartoria Solomeo') %></h2>
          <p class="lead"><%= i18n.__('Created together with our experts, this service is designed to help you find the ideal sartorial piece') %></p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/images/landing-bespoke.jpg')"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5"><%= i18n.__('Personal Shopper') %></h2>
          <p class="lead"><%= i18n.__('Meet our style team at your service and build your perfect wardrobe.') %></p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/images/landing-assistant.jpg')"></div>
      </div>
    </div>
    
    <div class="exclusive-row d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5"><%= i18n.__('Request Item') %></h2>
          <p class="lead"><%= i18n.__('Have you found an item you like but it is currently unavailable? Select the size you are looking for and we will contact youd as soon as it is available again for purchase.') %></p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/images/landing-productrequest.jpg'); background-size: 140%;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5"><%= i18n.__('Boutique Appointment') %></h2>
          <p class="lead"><%= i18n.__('Our Style Advisors are there to welcome you at the closest Boutique. Choose the day and time to book a private appointmentd and immerse yourself in the world of Brunello Cucinelli.') %></p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image: url('/images/landing-appointment.jpg')"></div>
      </div>
    </div>
    <!-- END EXCLUSIVE -->

    <div class="container-fluid page-separator"></div>

    <!-- FOOTER TPL -->
    <%- include('./layout/footer') %>
    <!-- END FOOTER -->
  </body>
</html>