.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  /*background-color: rgba(0, 0, 0, .85);*/
  background-color: rgba(255, 255, 255, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #000;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #999;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

@media (min-width: 300px) {
  .welcome-card {
    padding: 3em;
  }
}

@media (min-width: 200px) {
  .welcome-card {
    padding: 2em;
  }
}

.overflow-hidden { overflow: hidden; }

/* custom */


nav a, footer a {
  text-decoration: none;
}

footer .col-md {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

nav .row-logo {
  /* animation magic */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  padding: 40px 0;
  background-image: url(/images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.shrink {padding:0px 0 !important; }

.page-separator {
  border-bottom: 0.2px solid #d1d1d1;
}

.row-slide1 {
  background-image: url("https://shop.brunellocucinelli.com/on/demandware.static/-/Library-Sites-SiteGenesisSharedLibrary/default/dw974ee85d/Boutique-Locator/boutique-photo5.jpg");
}

.row-slide2 {
  background-image: url("https://shop.brunellocucinelli.com/on/demandware.static/-/Library-Sites-SiteGenesisSharedLibrary/default/dw15553ae2/Boutique-Locator/boutique-photo4-ok.jpg");
}

.row-welcome {
  color: white;
}
.row-welcome .welcome-card {
  background-color: rgba(24,24,24,0.65); 
}

.row-exclusive {
  color: white;
}

.exclusive-row .lead {
  min-height: 70px;
  margin: 0px;
}