
    <meta name="referrer" content="strict-origin" />
    <link rel="icon" href="https://shop.brunellocucinelli.com/on/demandware.static/Sites-bc-eu-Site/-/default/dwc407b782/images/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/5.1.1/css/font-awesome.css" rel="stylesheet"> -->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>

    <script src="https://kit.fontawesome.com/1850357908.js" crossorigin="anonymous"></script>
