<header class="site-header sticky-top py-1 page-separator">
    <nav >
      <div class="container" align="center">
        <div class="row row-logo">
          <div class="col-12">
          </div>
        </div>
      </div>
      <% if(originalUrl != '/') { %>
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <!-- Button trigger modal -->
        <a href="#" class="py-2 d-none d-md-inline-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fas fa-globe-americas"></i>
        </a>
        <!-- Button trigger modal -->
        <% for(var i=0; i<mainMenu.length; i++) { %>
          <a class="py-2 d-none d-md-inline-block" href="#"> <%= i18n.__(mainMenu[i]) %> </a>
        <% } %>
      </div>
      <% } %>
    </nav>
  </header>